//theme
:root {
  --button-border: var(--theme-border);
  --button-padding: var(--theme-spacing--2) var(--theme-spacing--3);
  --button-background: var(--theme-color-accent);
  --button-color: var(--theme-color-paper);
  --button-font: var(--theme--copy);
  --button-event-background: var(--theme-color-paper);
  --button-event-color: var(--theme-color-ink);
}
//rig
.o-button {
  appearance: none;
  display: inline-flex;
  border: var(--button-border);
  background: var(--button-background);
  color: var(--button-color);
  padding: var(--button-padding);
  font: var(--button-font);
  transition: background 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

  &:hover,
  &:active,
  &:focus {
    background: var(--button-event-background);
    color: var(--button-event-color);
    cursor: pointer;
  }
}
