@import "theme/global.scss";

.c-site {
  @include grid-assign(header, main, footer);
  display: grid;
  gap: var(--theme-spacing--6);
  place-items: center;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
  grid-template-columns: minmax(var(--theme-gutter), auto) minmax(auto, 1180px) minmax(
      var(--theme-gutter),
      auto
    );

  // try breaking these out into Region components

  &__header {
    // you can still use flexbox!
    display: flex;
    align-items: space-between;
  }
}
