@import "theme/utilities.scss";

.c-site {
  @include grid-assign(header, main, footer);
  display: grid;
  gap: var(--theme-gutter);
  place-items: center;
  grid-template-areas:
    ". header ."
    ". main   ."
    ". footer .";
  grid-template-columns: minmax(0, auto) minmax(auto, 1180px) minmax(0, auto);

  // try breaking these out into Region components

  &__header {
    // you can still use flexbox!
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: var(--theme-gutter);
    padding: var(--theme-gutter) 0;
  }
  &__name {
    margin: 0 0 auto auto;
  }
  &__main,
  &__footer {
    width: 100%;
  }
  &__footer {
    padding: var(--theme-spacing--6) 0;
  }
}
